/* Universal Variables */
:root {
    --main-color: #fc7400;
    --background-color: #000000;
    --secondary-color: #dad74a;
    --text-color: #f1f1f1;
}

html {
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Play', sans-serif;
    margin-top: 5rem;
    text-align: center;
}

h1 {
    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

p {
    display: flex;
    justify-content: center;
}

.form-inline {
    display: inline-grid;
    margin-top: 2rem;
}

.btn {
    display: flex;
    margin: auto;
    margin-top: 1rem;
}

.btn-warning:hover {
    color: #e6e7e7;
    background-color: var(--main-color);
    border-color: #d39e00;
}