:root {
    --main-color: #fc7400;
    --background-color: #000000;
    --secondary-color: #e6e219;
    --text-color: #f1f1f1;
}

html {
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Play', sans-serif;
    margin-top: 5rem;
    text-align: center;
}

h1 {
    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

p {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.msg {
    margin-top: 2rem;
}

ul {
    list-style-type: none;
    margin-top: 2rem;
}

.d-f {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
}

.form-inline {
    display: inline-grid;
}

.submit {
    margin: auto;
    margin-top: 1rem;
    display: flex;
}

.save, .clear {
    margin-inline: .5rem;
    margin-top: 1rem;
}

.btn-warning:hover {
    color: #e6e7e7;
    background-color: var(--main-color);
    border-color: #d39e00;
}

.d-n {
    display: none;
}
